:root {
  --tp-theme-color: #0057fc;
  --tp-theme-color-2: #ffe815;
  --tp-heading-color: #0a0e1a;
  --tp-body-color: #57595c;
  --tp-theme-navyblue: #001c52;
  --tp-common-black: #0a0e19;

  --tp-grey-color-2: #f6f6f6;
  --tp-grey-color-3: #f6f6f6;
  --tp-grey-color-4: #f6f6f6;
}
